* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.header-left h1 {
    font-size: 40px;
    margin-left: 30px;
}

.header-right {
    margin-right: 30px;
}

.header-right button {
    background-color: transparent;
    border: none;
    color: black;
    margin-left: 30px;
    cursor: pointer;
}

.header-right button:hover {
    text-decoration: underline;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.content {
    display: flex;
    padding: 20px;
}

.text {
    flex: 1;
    padding: 10px;
}

.text h2 {
    font-size: 60px;
    margin-bottom: 10px;
}

.text p {
    font-size: 35px;
    color: #ccc;
}

.image {
    flex: 1;
    padding: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.more-info-button {
    background-color: #00DFC0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.contact-us-button {
    background-color: #00DFC0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.more-info-button:hover,
.contact-us-button:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid #00DFC0;
}

.new-content {
    display: flex;
    padding: 20px;
    margin-top: 20px;
}

.new-content .text {
    flex: 1;
    padding: 10px;
}

.new-content .text h2 {
    font-size: 60px;
    margin-bottom: 10px;
}

.new-content .text a {
    font-size: 35px;
    font-weight: bold;
}

.new-content .text p {
    font-size: 20px;
}

.new-content .image {
    flex: 1;
    padding: 10px;
}

.new-content .image img {
    max-width: 100%;
    height: auto;
}

.point-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.point-list li {
    flex: 1;
    text-align: center;
}

.blue-line {
    height: 10px;
    width:80px;
    background-color: #00DFC0;
    margin: 10px auto;
}
