* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.header-left h1 {
    font-size: 40px;
    margin-left: 30px;
}

.header-right {
    margin-right: 30px;
}

.header-right button {
    background-color: transparent;
    border: none;
    color: black;
    margin-left: 30px;
    cursor: pointer;
}

.header-right button:hover {
    text-decoration: underline;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.content {
    display: flex;
    padding: 20px;
}

.text {
    flex: 1;
    padding: 10px;
}

.text h2 {
    font-size: 60px;
    margin-bottom: 10px;
}

.text p {
    font-size: 35px;
    color: #ccc;
}

.image {
    flex: 1;
    padding: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.more-info-button {
    background-color: #00DFC0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.contact-us-button {
    background-color: #00DFC0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.more-info-button:hover,
.contact-us-button:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid #00DFC0;
}
